:host {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-radius: 8px;
  background-color: rgba(16, 16, 16, 0.8);
  flex-direction: column;
  align-items: center;
  padding: 28px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  &:before {
    content: url("../../../assets/images/dep-add.svg");
    position: relative;
    top: 8px;
    right: 10px;
  }
}

.main-btn {
  padding: 0 15px;
  width: 100%;
  height: 33px;
  font-weight: 600;
  font-size: 12px;
  color: #1F2228;
  background-color: #20E3B2;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  &:hover:enabled {
    background-color: #30fac0;
    cursor: pointer;
  }
  &:disabled,
  &[disabled] {
    background-color: rgba(32, 227, 178, 0.3);
    cursor: auto;
  }
}

.sub-btn {
  padding: 0 15px;
  width: 100%;
  height: 33px;
  font-weight: 600;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  outline: 1px solid #20E3B2;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  &:hover:enabled {
    background-color: rgba(255, 255, 255, 0.06);
    cursor: pointer;
  }
  &:disabled,
  &[disabled] {
    outline: 1px solid rgba(32, 227, 178, 0.3);
    color: rgba(255, 255, 255, 0.3);
    cursor: auto;
  }
}

.form {
  width: 100%;
}

.form-body {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-input {
  height: 30px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  outline: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0 20px;
  transition: 0.3s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

.form-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
