:host {
  width: 100%;
  min-width: 1200px;
  min-height: 720px;
  height: 100vh;
  display: flex;
  gap: 18px;
  padding: 18px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(65, 14, 55) 0%, rgba(0, 0, 0, 1) 86%);
}

@media (min-width: 1500px) {
  :host {
    padding: 18px 150px;
  }
}

app-department-output {
  max-width: 30%;
}

app-employee-output {
  max-width: 50%;
}

.add-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

app-department-add {
  max-height: 30%;
}
